<% include ./partials/header %>

<div class="container">

  <h1 class="username"><%= data.profile %></h1>

  <div class="half-container-div">
    <h2 class="profile-section-titles">Maps Created</h2>
    <% data.profileMaps.forEach(function (map) { %>
      <a href="/maps/<%= map[0] %>">
        <div class="list-map-item">
          <h5><%= map[1] %></h5>
        </div>
      </a>
    <% }) %>
  </div>

  <div class="half-container-div">
    <h2 class="profile-section-titles">Favorites</h2>
    <% data.profileFavorites.forEach(function (map) { %>
      <a href="/maps/<%= map[0] %>">
        <div class="list-map-item">
          <h5><%= map[1] %></h5>
        </div>
      </a>
    <% }) %>
  </div>

</div>

<% include ./partials/footer %>

</body>
</html>
